
<div *ngIf="okuYolcu">
    <h2><span jhiTranslate="okusiswebApp.okuYolcu.detail.title">Oku Yolcu</span> {{okuYolcu.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="okusiswebApp.okuYolcu.bindiMi">Bindi Mi</span></dt>
        <dd>
            <span>{{okuYolcu.bindiMi}}</span>
        </dd>
        <dt><span jhiTranslate="okusiswebApp.okuYolcu.ulastiMi">Ulasti Mi</span></dt>
        <dd>
            <span>{{okuYolcu.ulastiMi}}</span>
        </dd>
        <dt><span jhiTranslate="okusiswebApp.okuYolcu.sefer">Sefer</span></dt>
        <dd>
            <div *ngIf="okuYolcu.sefer">
                <a [routerLink]="['/oku-sefer', okuYolcu.sefer?.id]">{{okuYolcu.sefer?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="okusiswebApp.okuYolcu.ogrenci">Ogrenci</span></dt>
        <dd>
            <div *ngIf="okuYolcu.ogrenci">
                <a [routerLink]="['/oku-ogrenci', okuYolcu.ogrenci?.id]">{{okuYolcu.ogrenci?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'oku-yolcu/'+ okuYolcu.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
