<div>
    <h2>
        <span jhiTranslate="okusisApp.okuSehir.home.title">Oku Sehirs</span>
        <button class="btn btn-primary float-right jh-create-entity create-oku-sehir" [routerLink]="['/', { outlets: { popup: ['oku-sehir-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="okusisApp.okuSehir.home.createLabel">
            Create new Oku Sehir
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="okuSehirs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="kod"><span jhiTranslate="okusisApp.okuSehir.kod">Kod</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isim"><span jhiTranslate="okusisApp.okuSehir.isim">Isim</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="parent.id"><span jhiTranslate="okusisApp.okuSehir.parent">Parent</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let okuSehir of okuSehirs ;trackBy: trackId">
                <td><a [routerLink]="['../oku-sehir', okuSehir.id ]">{{okuSehir.id}}</a></td>
                <td>{{okuSehir.kod}}</td>
                <td>{{okuSehir.isim}}</td>
                <td>
                    <div *ngIf="okuSehir.parent">
                        <a [routerLink]="['../oku-sehir', okuSehir.parent?.id ]" >{{okuSehir.parent?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../oku-sehir', okuSehir.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'oku-sehir/'+ okuSehir.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'oku-sehir/'+ okuSehir.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="okuSehirs && okuSehirs.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
