<div>
    <h2>
        <span jhiTranslate="okusiswebApp.okuOkul.home.title">Oku Okuls</span>
        <button class="btn btn-primary float-right jh-create-entity create-oku-okul" [routerLink]="['/', { outlets: { popup: ['oku-okul-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="okusiswebApp.okuOkul.home.createLabel">
            Create new Oku Okul
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="okuOkuls">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="okusiswebApp.okuOkul.kod">Kod</span></th>
            <th><span jhiTranslate="okusiswebApp.okuOkul.isim">Isim</span></th>
            <th><span jhiTranslate="okusiswebApp.okuOkul.mudurIsim">Mudur Isim</span></th>
            <th><span jhiTranslate="okusiswebApp.okuOkul.mudurTel">Mudur Tel</span></th>
            <th><span jhiTranslate="okusiswebApp.okuOkul.sehir">Sehir</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let okuOkul of okuOkuls ;trackBy: trackId">
                <td><a [routerLink]="['../oku-okul', okuOkul.id ]">{{okuOkul.id}}</a></td>
                <td>{{okuOkul.kod}}</td>
                <td>{{okuOkul.isim}}</td>
                <td>{{okuOkul.mudurIsim}}</td>
                <td>{{okuOkul.mudurTel}}</td>
                <td>
                    <div *ngIf="okuOkul.sehir">
                        <a [routerLink]="['../oku-sehir', okuOkul.sehir?.id ]" >{{okuOkul.sehir?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../oku-okul', okuOkul.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'oku-okul/'+ okuOkul.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'oku-okul/'+ okuOkul.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
