
<div *ngIf="okuGuzergah">
    <h2><span jhiTranslate="okusisApp.okuGuzergah.detail.title">Oku Guzergah</span> {{okuGuzergah.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="okusisApp.okuGuzergah.kod">Kod</span></dt>
        <dd>
            <span>{{okuGuzergah.kod}}</span>
        </dd>
        <dt><span jhiTranslate="okusisApp.okuGuzergah.rota">Rota</span></dt>
        <dd>
            <span>{{okuGuzergah.rota}}</span>
        </dd>
        <dt><span jhiTranslate="okusisApp.okuGuzergah.harita">Harita</span></dt>
        <dd>
            <span>{{okuGuzergah.harita}}</span>
        </dd>
        <dt><span jhiTranslate="okusisApp.okuGuzergah.okul">Okul</span></dt>
        <dd>
            <div *ngIf="okuGuzergah.okul">
                <a [routerLink]="['/oku-okul', okuGuzergah.okul?.id]">{{okuGuzergah.okul?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'oku-guzergah/'+ okuGuzergah.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
