<div>
    <h2>
        <span jhiTranslate="okusisApp.okuSefer.home.title">Oku Sefers</span>
        <button class="btn btn-primary float-right jh-create-entity create-oku-sefer" [routerLink]="['/', { outlets: { popup: ['oku-sefer-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="okusisApp.okuSefer.home.createLabel">
            Create new Oku Sefer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="okuSefers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tarih"><span jhiTranslate="okusisApp.okuSefer.tarih">Tarih</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="servis"><span jhiTranslate="okusisApp.okuSefer.servis">Servis</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="yapildiMi"><span jhiTranslate="okusisApp.okuSefer.yapildiMi">Yapildi Mi</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="guzergah.id"><span jhiTranslate="okusisApp.okuSefer.guzergah">Guzergah</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="sofor.id"><span jhiTranslate="okusisApp.okuSefer.sofor">Sofor</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="arac.id"><span jhiTranslate="okusisApp.okuSefer.arac">Arac</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let okuSefer of okuSefers ;trackBy: trackId">
                <td><a [routerLink]="['../oku-sefer', okuSefer.id ]">{{okuSefer.id}}</a></td>
                <td>{{okuSefer.tarih | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'okusisApp.OkuServis.' + okuSefer.servis}}">{{okuSefer.servis}}</td>
                <td>{{okuSefer.yapildiMi}}</td>
                <td>
                    <div *ngIf="okuSefer.guzergah">
                        <a [routerLink]="['../oku-guzergah', okuSefer.guzergah?.id ]" >{{okuSefer.guzergah?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="okuSefer.sofor">
                        <a [routerLink]="['../oku-sofor', okuSefer.sofor?.id ]" >{{okuSefer.sofor?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="okuSefer.arac">
                        <a [routerLink]="['../oku-arac', okuSefer.arac?.id ]" >{{okuSefer.arac?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../oku-sefer', okuSefer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'oku-sefer/'+ okuSefer.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'oku-sefer/'+ okuSefer.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="okuSefers && okuSefers.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
